PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://your-s3-website-url
DB_INIT_RETRY_INTERVAL_MS=30000

DB_HOST=mysql
DB_PORT=3306
DB_USER=studyroom
DB_PASSWORD=studyroom_password
DB_NAME=studyroom_db
DB_SSL=false
DB_SSL_ALLOW_UNAUTHORIZED=false
DB_SSL_CA_PATH=

MYSQL_ROOT_PASSWORD=root_password
